<section class="profile-section">
    <div class="profile-head">
        {% if site.data.profile.portrait_url %}
        <a class="profile-photo-link" target="_blank" href="{{ site.data.profile.portrait_url | relative_url }}">
            <img
                src="{{ site.data.profile.portrait_url | relative_url }}"
                class="profile-photo"
                alt="{{ site.data.profile.primary_name }}">
        </a>
        {% endif %}

        <div class="profile-summary">
            <p class="profile-name">
                <strong>{{ site.data.profile.primary_name }}</strong>
                {% if site.data.profile.secondary_name %}
                <span>{{ site.data.profile.secondary_name }}</span>
                {% endif %}
            </p>

            {% if site.data.profile.positions %}
            <p>
                {% for position in site.data.profile.positions %}
                {% if position.logo -%}
                <img src="{{ position.logo | relative_url }}" alt="Logo" class="inline-badge"/>
                {%- endif %}
                {{ position.name }}<br/>
                {% endfor %}
            </p>
            {% endif %}

            {% if site.data.profile.education %}
            <p>
                {% for item in site.data.profile.education limit:1 %}
                {{ item.position }}<br/>
                {{ item.name }}<br/>
                {% endfor %}
            </p>
            {% endif %}

            {% if site.data.profile.email %}
            <p>Email: <a href="mailto:{{ site.data.profile.email | encode_email }}">{{ site.data.profile.email }}</a></p>
            {% endif %}

            <p class="profile-links">
                {% if site.data.profile.cv_link %}
                [<a target="_blank" href="{{ site.data.profile.cv_link | relative_url }}">CV</a>]
                {% endif %}

                {% if site.data.profile.gscholar %}
                {%- if site.data.profile.gscholar contains 'scholar.google' -%}
                {%- assign gscholar_url = site.data.profile.gscholar -%}
                {%- else -%}
                {%- assign gscholar_url = 'https://scholar.google.com/citations?user=' | append: site.data.profile.gscholar -%}
                {%- endif -%}
                [<a target="_blank" href="{{ gscholar_url }}">Google Scholar</a>]
                {% endif %}

                {% if site.data.profile.github %}
                [<a target="_blank" href="https://github.com/{{ site.data.profile.github }}">Github</a>]
                {% endif %}

                {% if site.data.profile.wechat_qrcode %}
                [<a data-toggle="modal" data-target="#modal-wechat">WeChat</a>]
                {% endif %}

                {% if site.data.profile.twitter %}
                [<a target="_blank" href="https://twitter.com/{{ site.data.profile.twitter }}">Twitter</a>]
                {% endif %}

                {% if site.data.profile.linkedin %}
                [<a target="_blank" href="https://www.linkedin.com/in/{{ site.data.profile.linkedin }}">LinkedIn</a>]
                {% endif %}

                {% if site.data.profile.orcid %}
                [<a target="_blank" href="https://orcid.org/{{ site.data.profile.orcid }}">ORCID</a>]
                {% endif %}
            </p>
        </div>
    </div>

    <h2>Biography</h2>
    <p class="text-profile-bio" {% if site.data.profile.short_bio_text_justify %}style="text-align: justify;"{% endif %}>
        {{ site.data.profile.short_bio }}
    </p>
</section>

{% if site.data.profile.wechat_qrcode %}
<div class="modal fade" id="modal-wechat" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-body p-0">
                <img src="{{ site.data.profile.wechat_qrcode | relative_url }}" class="img-fluid" alt="WeChat QR code">
            </div>
            {% if site.data.profile.wechat_prompt %}
            <div class="modal-body p-1">
                {{ site.data.profile.wechat_prompt }}
            </div>
            {% endif %}
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{% endif %}
